@font-face{
    font-family: BeachSound;
    src: url("fonts/BeachSound.otf") format("opentype");
}
*{
    color: #FFFFFF;
    font-family: monospace;
    font-size: 110%;
}
body{
    background-image: url("img/background.png");
    background-color: #303030;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.topnav {
    margin: 100px 200px 100px 200px;
    position: sticky;
    overflow: hidden;
}
.topnav a{
    float: left;
    font-family: Georgia;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}
.mainnav{
    font-size: 200%;
}
.othernav{
    margin-top: 10px;
    font-size: 125%;
}