@font-face{
    font-family: BeachSound;
    src: url("fonts/BeachSound.otf") format("opentype");
}
@font-face{
    font-family: TimesNewRomanB;
    src: url("fonts/TimesNewRomanB.otf") format("opentype");
} 
body{
    background-color: #601C5C;
    color: #E0D6DE;
    font-weight: 600;
}
p{
    font-family: monospace;
    font-size: 18px;
    text-align: justify;
}
.title{
    font-family: BeachSound;
    font-size: 50px;
    margin-top: 15%;
    text-align: center;
}
.quote{
    margin-top: -1%;
    font-family: BeachSound;
    font-style: italic;
}
.quote a{
    color: #E0D6DE;
}
.container{
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
}
.content{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 30px;
    padding: 13px;
    background-color: #E0D6DE;
    color: #601C5C;
    font-family: monospace;
}
.content h1, h2{
    font-family: BeachSound;
    text-align: center;
}
@media only screen and (max-width: 900px){
    .content{
        margin-left: 3%;
        margin-right: 3%;
    }
}